includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
#    level: 5
    level: 0
    scanFiles:
        # fullUrl() comes from this file
        - vendor/getpop/migrate-engine/migrate/library/functions/utils.php
    paths:
        - src/
    ignoreErrors:
        # TODO Tidy up abstract methods.
        - '#^Call to an undefined method GraphQLAPI\\GraphQLAPI\\Blocks\\AbstractBlock::getScriptDependencies\(\)\.$#'
