/**
 * Improve the styles of the table:
 * - better contrast for disable items
 * - actions not in bold
 */
.row-actions span.disabled {
    color: #969696;
}
.plugins .name {
    font-weight: normal;
}
/* .plugins .dashicons {
    font-size: 16px;
} */

.plugins .active.module-schema td,
.plugins .active.module-schema th {
    background-color: #fcf7fe;
}
.plugin-update-tr.active.module-schema td,
.plugins .active.module-schema th.check-column {
    border-left-color: #d200cf;
}

.plugins .active.module-functionality td,
.plugins .active.module-functionality th {
    background-color: #fefdf7;
}
.plugin-update-tr.active.module-functionality td,
.plugins .active.module-functionality th.check-column {
    border-left-color: #c4d200;
}

.plugins .active.module-functionality-pioneering td,
.plugins .active.module-functionality-pioneering th {
    background-color: #f9fef7;
}
.plugin-update-tr.active.module-functionality-pioneering td,
.plugins .active.module-functionality-pioneering th.check-column {
    border-left-color: #00d20b;
}

.plugins .active.module-functionality-accesscontrol td,
.plugins .active.module-functionality-accesscontrol th {
    background-color: #fef7f9;
}
.plugin-update-tr.active.module-functionality-accesscontrol td,
.plugins .active.module-functionality-accesscontrol th.check-column {
    border-left-color: #d20046;
}

.plugins .active.module-functionality-client td,
.plugins .active.module-functionality-client th {
    background-color: #f7fbfe;
}
.plugin-update-tr.active.module-functionality-client td,
.plugins .active.module-functionality-client th.check-column {
    border-left-color: #005bd2;
}
