/**
 * Improve the styles of the table:
 * - better contrast for disable items
 * - actions not in bold
 */
.row-actions span.disabled {
    color: #969696;
}
.plugins .name {
    font-weight: normal;
}
/* .plugins .dashicons {
    font-size: 16px;
} */

.plugins .active.module-schema td,
.plugins .active.module-schema th {
    background-color: #fefdf7;
}
.plugin-update-tr.active.module-schema td,
.plugins .active.module-schema th.check-column {
    border-left-color: #c4d200;
}

.plugins .active.module-functionality td,
.plugins .active.module-functionality th {
    background-color: #fef7fd;
}
.plugin-update-tr.active.module-functionality td,
.plugins .active.module-functionality th.check-column {
    border-left-color: #d200d2;
}
