// Loading @wordpress/base-styles as they have mixins and other dependencies
@import "~@wordpress/base-styles/colors";

.active-tab {
	border-bottom: 3px solid $dark-gray-500;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	box-sizing: border-box;
	font-weight: 700;
	background-color: $light-gray-500;
}
